extends _component/layout.pug

block content
  include _component/nav.pug
  include _component/hero.pug
  include _component/parallax.pug
  include _component/features.pug
  include _component/images.pug