section.flex.bg-white.py-4.px-16.pb-20
  div(class="w-8/12").pt-24
    img(src="assets/img/shoe.png", alt="").w-full
  div(class="w-4/12").flex.h-auto.items-center.pl-16
    div
      span.border.border-gray-200.block.w-12.h-12.flex.items-center.justify-center.p-4.mb-6
        img(src="assets/img/heart.png", alt="")
      p.text-3xl.text-gray-900 NIKE
      h2.text-4xl.text-gray-900.font-light AIR MAX TAVAS SD
      span.block.text-base.font-light.text-gray-600.mb-8 $160.00
      span.text-sm.uppercase.text-gray-700 Colors - 
        span.text-sm.text-blue-600 Black/Pink Pow/Tour Yellow/White
      div.mt-8.flex.mb-4
        .border.border-gray-300.bg-gray-100.p-2.h-20.w-20.flex.items-center.justify-center.mr-4
          img(src="assets/img/shoe.png", alt="")
        .border.border-gray-300.bg-gray-100.p-2.h-20.w-20.flex.items-center.justify-center
          img(src="assets/img/shoe.png", alt="")
      div
        span.text-xs.text-gray-700.font-light Size charts
        div.mt-2
          select(name="size").px-4.py-3.w-32.text-gray-600.font-light.text-sm.bg-white.border.border-gray-300.mr-4
            option(value="" selected disabled hidden) Size
            option(value="" disabled) Size
            option(value="39") 39
            option(value="39") 40
            option(value="39") 41
          button.w-32.text-center.px-4.py-3.uppercase.bg-gray-900.font-light.text-sm.text-gray-100.border.border-gray-900
            | Add to cart

