header.w-full.bg-white.px-5.py-5.flex.items-center.justify-between
  .flex.items-center
    a(href="/").mr-6
      img(src="assets/img/shape.png", alt="")
    nav
      a(href="#").nav--link.mr-12 Footwear
      a(href="#").nav--link.mr-12 Clothing
      a(href="#").nav--link.mr-12 Accesories
      a(href="#").nav--link.mr-12 Brands
      a(href="#").nav--link.mr-12 Exclusive
  .flex.items-center
    a(href="#").flex.items-center.mr-10
      img(src="assets/img/icon2.png", alt="").mr-2
      span.nav--link Search
    a(href="#").flex.items-center.mr-10
      img(src="assets/img/icon1.png", alt="").mr-2
      span.nav--link Cart 
        span.uppercase.text-base.tracking-tight.text-blue-500 (2)
    a(href="#").flex.items-center.mr-10
      img(src="assets/img/icon.png", alt="").mr-2
      span.nav--link Sign in





