.parallax.flex.flex-col.justify-center.items-start.text-white.px-16
  div(style="width: 400px")
    h1.font-light.text-2xl.mb-4 CLASSIC CUSHIONING. MODERN COMFORT
    p.font-light.text-sm
      | The Nike Air Max Tavas SD Men's Shoe recalls the profile of the iconic 
      | running original with a Max Air unit in the heel and multi-surface Waffle outsole. 
      | A lightweight upper and gradient detail offer a comfortable fit and dynamic look. 